{% extends "base.html" %}
{% block title %} Hall of fame {% endblock %}

{% block typerf %}
<nav id="navb1" class="navbar border-bottom z-2 bg-white d-none d-lg-block">
  <div class="m-auto container d-flex justify-content-evenly">
    <a href="{{ url_for('index') }}" class="nav-link">Tutti</a>
    <a href="{{ url_for('lampo') }}" class="nav-link">Lampo</a>
    <a href="{{ url_for('normale') }}" class="nav-link">Normale</a>
    <a href="{{ url_for('halloffame') }}" class="nav-link active">Hall of fame</a>
  </div>
</nav>
{% endblock %}

{% block content %}

<main class="container mx-auto mb-2 col-lg-12 z-2">
  <div class="align-items-start row">
    <h4 class="my-3">Hall of fame</h4>

    {% for rf_singolo in rf | sort(attribute=['data'][0], reverse=True) %}
      {% if rf_singolo.successo == 1 %}

        <div class="col-lg-3 col-md-4 mb-5 img_div">
          {% if rf_singolo.tipo == 1 %}
            <div class="lampo_tag">
              &nbsp
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-lightning-fill icons" viewBox="0 0 16 16">
                <path d="M5.52.359A.5.5 0 0 1 6 0h4a.5.5 0 0 1 .474.658L8.694 6H12.5a.5.5 0 0 1 .395.807l-7 9a.5.5 0 0 1-.873-.454L6.823 9.5H3.5a.5.5 0 0 1-.48-.641z"/>
              </svg>
              Lampo &nbsp
            </div>
          {% endif %}

          <div>
            <img src="{{ rf_singolo.img | img_url }}"
                 onclick="window.location='{{ url_for('rf_singolo', id=rf_singolo.id) }}'"
                 class="img_card pointers"
                 alt="immagine raccolta">

            <div onclick="window.location='{{ url_for('rf_singolo', id=rf_singolo.id) }}'">

              <section class="d-flex align-items-center justify-content-between my-2">
                <div class="col-7">
                  <h5 class="no-b text-truncate">{{ rf_singolo.titolo }}</h5>
                  <small class="text-name_post m-n3 no-m">di {{ rf_singolo.username }}</small>
                </div>

                <div class="text-end col-5">
                  <p class="no-b text-success fw-bold">
                    {% set totale = tot_donazioni(donazioni, rf_singolo.id) %}
                    {% set perce = percentuale(totale, rf_singolo.obiettivo) %}
                    {{ perce }}% finanziato
                  </p>
                  <time>Chiuso</time>
                </div>
              </section>

              <h5 class="text-success">Obiettivo raggiunto!</h5>

              <p class="text-description fewlines">{{ rf_singolo.descrizione }}</p>
              <hr>
              <a href="{{ url_for('rf_singolo', id=rf_singolo.id) }}" class="nav-link text-center">
                <small>Scopri di più</small>
              </a>

            </div>
          </div>
        </div>

      {% endif %}
    {% endfor %}
  </div>
</main>

{% endblock %}
